section.social
    .container
        h2.social__title Подписка на наши каналы!
        .social__row
            a.social__link.social__link--fb(href="" title="Facebook") Facebook
            a.social__link.social__link--vk(href="" title="Вконтакте") Вконтакте
            a.social__link.social__link--tw(href="" title="Twitter") Twitter
            a.social__link.social__link--insta(href="" title="Instagram") Instagram