.modal#modal
    button.modal__close#close Закрыть
    h3.modal__title Оставьте вашу заявку на звонок    
    form.modal__form#modal-form
        label.modal__label
            input.modal__input#modal-phone(type="tel" name="feedback-phone")
            span.modal__error-msg Первая цифра "9"
        button.modal__submit.btn Оставить заявку   
    .modal__loading
         #circularG
             #circularG_1.circularG
             #circularG_2.circularG
             #circularG_3.circularG
             #circularG_4.circularG
             #circularG_5.circularG
             #circularG_6.circularG
             #circularG_7.circularG
             #circularG_8.circularG       
    p.modal__thankyou Спасибо за заявку.