nav.main-nav.main-nav--close.main-nav--no-js
    .container    
        div.toggle-burger
            span.toggle-burger__line Меню        
        ul.main-nav__list.flex-container        
            li.main-nav__item: a(href="." class="main-nav__link  scroll") Коллекция
            li.main-nav__item: a(href="." class="main-nav__link  scroll") Материалы
            li.main-nav__item: a(href="." class="main-nav__link  scroll") Салоны
            li.main-nav__item: a(href="." class="main-nav__link  scroll") О компании
            li.main-nav__item: a(href="." class="main-nav__link  scroll") Контакты
