nav.main-nav.main-nav--close.main-nav--no-js    
    div.toggle-burger
        span.toggle-burger__line Меню        
    ul.main-nav__list.wrap.flex-wrap.col-lg-8        
        li.main-nav__item: a(class="main-nav__link  scroll") Главная
        li.main-nav__item: a(href="portfolio.html" class="main-nav__link  scroll") Портфолио
        li.main-nav__item: a(href="service.html" class="main-nav__link  scroll") Услуги
        li.main-nav__item: a(href="contacts.html" class="main-nav__link  scroll") Контакты
