section.slider.wrap
    .slider__wrapper        
        -var slideLength = 7;
        -for(var i = 1; i<slideLength; i++)
            img.slider__picture(src='image/slider/slide-' + i + '.jpg' width="" height="")        