section.faq
    .container 
        h2.faq__title Вопрос - ответ&nbsp;
            a.faq__link(href="/" title="Советы") Советы
        .faq__tab#tab
            .faq__item.faq__item--show
                h3.faq__head.faq__head--arrow Какой срок службы к фасадов из пленки ПВХ?
                p.faq__descr В среднем пленка служит 10−15лет (зависит от ухода). Чтобы продлить срок службы и сохранить презентабельный вид пленки, уборку фасадов лучше производить мягкими моющими средствами, не содержащими абразивные вещества и растворители. Чтобы поверхность сохраняла ровный глянцевый блеск без царапин и пятен, необходимо систематически протирать фасад из МДФ сначала влажной, а затем сухой мягкой тканью.           
            .faq__item
                h3.faq__head.faq__head--arrow Можно ли изготовить кухню быстрее стандартного срока 25−30 дней?
                p.faq__descr В среднем пленка служит 10−15лет (зависит от ухода). Чтобы продлить срок службы и сохранить презентабельный вид пленки, уборку фасадов лучше производить мягкими моющими средствами, не содержащими абразивные вещества и растворители. Чтобы поверхность сохраняла ровный глянцевый блеск без царапин и пятен, необходимо систематически протирать фасад из МДФ сначала влажной, а затем сухой мягкой тканью.           
            .faq__item
                h3.faq__head.faq__head--arrow Могу ли я оформить рассрочку дистанционно?
                p.faq__descr В среднем пленка служит 10−15лет (зависит от ухода). Чтобы продлить срок службы и сохранить презентабельный вид пленки, уборку фасадов лучше производить мягкими моющими средствами, не содержащими абразивные вещества и растворители. Чтобы поверхность сохраняла ровный глянцевый блеск без царапин и пятен, необходимо систематически протирать фасад из МДФ сначала влажной, а затем сухой мягкой тканью.           