.copyright
    .container.flex-container
        p.copyright__text Copyright 2017 All Rights Reserved.
        .copyright__payment
            img.copyright__image(src="images/mastercard.png" width="32" height="32" title="Доступные способы оплаты")
            img.copyright__image(src="images/visa.png" width="32" height="32" title="Доступные способы оплаты")
            img.copyright__image(src="images/paypal.png" width="32" height="32" title="Доступные способы оплаты")
            img.copyright__image(src="images/paper-bill.png" width="32" height="32" title="Доступные способы оплаты")