header.page-header
    h1.page-header__h1.visually-hidden  Fabba. Кухни на заказ.    
    .page-header__top
        .container.flex-container
            a.page-header__link.btn(href="/" title="Скачать каталог") Каталог
            include ../../blocks/logo/logo    
            include ../../blocks/top-info/top-info
    include ../../blocks/main-nav/main-nav    