include ../../blocks/constructor/constructor
include ../../blocks/show-inside/show-inside
include ../../blocks/order/order
include ../../blocks/review/review
include ../../blocks/advantages/advantages
include ../../blocks/complects/complects
include ../../blocks/faq/faq

    