section.constructor
    .container
        .constructor__location
            input.constructor__radio.constructor__radio--location#location-1(type="radio" name="location")
            label.constructor__picture.constructor__picture--location-1.col-lg-4.col-md-4.col-xs-6(for="location-1")
                img(src="images/constructor/kitchen-1.jpg")
            input.constructor__radio.constructor__radio--location#location-2(type="radio" name="location")
            label.constructor__picture.constructor__picture--location-2.col-lg-4.col-md-4.col-xs-6(for="location-2")
                img(src="images/constructor/kitchen-2.jpg")
            input.constructor__radio.constructor__radio--location#location-3(type="radio" name="location")
            label.constructor__picture.constructor__picture--location-3.col-lg-4.col-md-4.col-xs-6(for="location-3")
                img(src="images/constructor/kitchen-3.jpg")
        .constructor__handler
            a.constructor__button#calculator(href="form.html", title="Форма для расчета стоимости") Расчитать стоимость       
            button.constructor__button#design Индивидуальный дизайн
        .constructor__view
            //- p.constructor__price от 9000 руб за п.м
            .constructor__preview#constructor
                //- Слайдер с открытыми фасадами
                .constructor__slider#open-facade
                    img.constructor__slide(src="images/constructor/open-facade/open-facade.jpg" width="1024" height="768")
                    img.constructor__slide(src="images/constructor/open-facade/open-facade-furniture.jpg" width="1024" height="768") 
                    
                //- Слайдер узор лдсп фасады
                .constructor__slider.constructor__slider--show#ldsp-pattern-facade                    
                    img.constructor__slide(src="images/constructor/ldsp/dub_kantenberri.jpg" width="1024" height="768" title="Дуб 'Кантенберри'" alt="Дуб 'Кантенберри'")                    
                    img.constructor__slide(src="images/constructor/ldsp/makassar_pyamaya.jpg" width="1024" height="768" title="Макассар" alt="Макассар")
                    img.constructor__slide(src="images/constructor/ldsp/sonoma_pryamaya.jpg" width="1024" height="768" title="Сонома" alt="Сонома" data-color="white")
                    img.constructor__slide(src="images/constructor/ldsp/tuya_pryamaya.jpg" width="1024" height="768" title="Туя" alt="Туя" data-color="white")
                    img.constructor__slide(src="images/constructor/ldsp/indijskij_ehboni_pryamaya.jpg" width="1024" height="768" title="Индийский эбони" alt="Индийский эбони")
                
                //- Слайдер глянец лдсп фасады
                .constructor__slider#ldsp-gloss-facade
                    img.constructor__slide(src="images/constructor/ldsp/gemchug_pryamaya.jpg" width="1024" height="768" title="Жемчуг" alt="Жемчуг" data-color="white")
                    img.constructor__slide(src="images/constructor/ldsp/Jadeite_Green_pryamaya.jpg" width="1024" height="768" title="'Жадейте' зеленая" alt="'Жадейте' зеленая" data-color="green") 
                    img.constructor__slide(src="images/constructor/ldsp/kantru_blu.jpg" width="1024" height="768" title="Кантри блю" alt="Кантри блю" data-color="blue")
                    img.constructor__slide(src="images/constructor/ldsp/laijm_pryamaya.jpg" width="1024" height="768" title="Лайм" alt="Лайм" data-color="yellow") 
                    img.constructor__slide(src="images/constructor/ldsp/solnc_svet_pryamaya.jpg" width="1024" height="768" title="Солнечный свет" alt="Солнечный свет" data-color="yellow")
                    img.constructor__slide(src="images/constructor/ldsp/latte_pryamaya.jpg" width="1024" height="768" title="Латте" alt="Латте" data-color="dark") 
                
                //- Узор мдф фасады
                .constructor__slider#mdf-pattern-facade                    
                    img.constructor__slide(src="images/constructor/mdf/mahagon.jpg" width="1024" height="768" title="Махагон" alt="Махагон")
                    img.constructor__slide(src="images/constructor/mdf/morennyu_oreh.jpg" width="1024" height="768" title="Орех" alt="Орех")
                    img.constructor__slide(src="images/constructor/mdf/mokko_glyanec.jpg" width="1024" height="768" title="Моко глянец" alt="Моко глянец")
                    img.constructor__slide(src="images/constructor/mdf/oreh_temnuy_metall.jpg" width="1024" height="768" title="Орех тёмный металл" alt="Орех тёмный металл")                    
                    img.constructor__slide(src="images/constructor/mdf/len_beluy.jpg" width="1024" height="768" title="Лён белый" alt="Лён белый" data-color="white")
                    img.constructor__slide(src="images/constructor/mdf/dub_zolotou.jpg" width="1024" height="768" title="Дуб Золотой" alt="Дуб Золотой" data-color="yellow")

                //- Глянец мдф фасады
                .constructor__slider#mdf-gloss-facade
                    img.constructor__slide(src="images/constructor/mdf/belyu.jpg" width="1024" height="768" title="Белый" alt="Белый" data-color="white")                   
                    img.constructor__slide(src="images/constructor/mdf/kvartet_biryza.jpg" width="1024" height="768" title="Квартет Бирюза" alt="Квартет Бирюза" data-color="blue")                
                    img.constructor__slide(src="images/constructor/mdf/kapychino_glyanec.jpg" width="1024" height="768" title="Капучино глянец" alt="Капучино глянец" data-color="dark") 
                    img.constructor__slide(src="images/constructor/mdf/baklagan.jpg" width="1024" height="768" title="Баклажан" alt="Баклажан" data-color="red") 

                //- Пластиковые фасады с узором
                .constructor__slider#plastic-pattern-facade                    
                    img.constructor__slide(src="images/constructor/plastic/mramor_kit_2.jpg" width="1024" height="768" title="Мраморный Черный" alt="Мраморный Черный" data-color="dark")
                    img.constructor__slide(src="images/constructor/plastic/mramor_kit_1.jpg" width="1024" height="768" title="Мраморный Белый" alt="Мраморный Белый" data-color="white")
                    img.constructor__slide(src="images/constructor/plastic/zebrano.jpg" width="1024" height="768" title="Зебрано" alt="Зебрано" data-color="yellow")
                    img.constructor__slide(src="images/constructor/plastic/mikerin.jpg" width="1024" height="768" title="Микерин Серый" alt="Микерин Серый" data-color="dark")
                    img.constructor__slide(src="images/constructor/plastic/mikerin_2.jpg" width="1024" height="768" title="Микерин Темно-серый" alt="Микерин Темно-серый" data-color="dark")              

                //- Пластиковые фасады глянец
                .constructor__slider#plastic-gloss-facade
                    img.constructor__slide(src="images/constructor/plastic/black_kit.jpg" width="1024" height="768" title="Черный пластик" alt="Черный пластик" data-color="dark") 
                    img.constructor__slide(src="images/constructor/plastic/fialka_kit.jpg" width="1024" height="768" title="Фиалка" alt="Фиалка" data-color="red")
                    img.constructor__slide(src="images/constructor/plastic/fistashca_kit.jpg" width="1024" height="768" title="Фисташковый" alt="Фисташковый" data-color="green")
                    img.constructor__slide(src="images/constructor/plastic/red_kit.jpg" width="1024" height="768" title="Красный" alt="Красный" data-color="red")
                    img.constructor__slide(src="images/constructor/plastic/graphit.jpg" width="1024" height="768" title="Графит" alt="Графит" data-color="dark")
                
                //- Фильтр по цвету
                .constructor__color-slider#color-slides
                    
                    
                .constructor__trigger
                    input.constructor__radio.constructor__radio--day(type="radio" name="trigger" id="day" checked="checked")
                    label.constructor__item.constructor__item--day(for="day") День
                    input.constructor__radio.constructor__radio--lock(type="radio" name="trigger" id="lock")
                    label.constructor__item.constructor__item--lock(for="lock") Закрыть двери
                    input.constructor__radio.constructor__radio--night(type="radio" name="trigger" id="night")
                    label.constructor__item.constructor__item--night(for="night") Ночь
                
                a.slider__button.slider__button--cart.btn 99 900 руб.
            .constructor__row.constructor__row--bg-white.constructor__choice-color
                .constructor__col.col-md-6.col-xs-12
                    .constructor__title.constructor__title--line
                        h2.constructor__head Фасады
                    .constructor__label.constructor__label--facade#constructor-facade
                        form.constructor__form
                            .constructor__wrapper
                                p.constructor__head ЛДСП
                                fiedlset.constructor__fieldset                                    
                                    input.constructor__radio.constructor__radio--material(type="radio" name="facade" id="ldsp-pattern" checked)
                                    label.constructor__facade.constructor__facade--material--ldsp.constructor__facade--dark(for="ldsp-pattern") Лдсп
                                    input.constructor__radio.constructor__radio--material(type="radio" name="facade" id="ldsp-gloss")
                                    label.constructor__facade.constructor__facade--material--ldsp.constructor__facade--light(for="ldsp-gloss") Лдсп
                            .constructor__wrapper
                                p.constructor__head МДФ
                                fiedlset.constructor__fieldset                                    
                                    input.constructor__radio.constructor__radio--material(type="radio" name="facade" id="mdf-gloss")
                                    label.constructor__facade.constructor__facade--material--mdf.constructor__facade--dark(for="mdf-gloss") Мдф
                                    input.constructor__radio.constructor__radio--material(type="radio" name="facade" id="mdf-pattern")
                                    label.constructor__facade.constructor__facade--material--mdf.constructor__facade--light(for="mdf-pattern") Мдф
                            .constructor__wrapper
                                p.constructor__head Пластик
                                fiedlset.constructor__fieldset                                    
                                    input.constructor__radio.constructor__radio--material(type="radio" name="facade" id="plastic-pattern")
                                    label.constructor__facade.constructor__facade--material--plastic.constructor__facade--dark(for="plastic-pattern") Пластик
                                    input.constructor__radio.constructor__radio--material(type="radio" name="facade" id="plastic-gloss")
                                    label.constructor__facade.constructor__facade--material--plastic.constructor__facade--light(for="plastic-gloss") Пластик
                    p.constructor__text +120 вариантов цветов и структур
                .constructor__col.col-md-6.col-xs-12
                    .constructor__title.constructor__title--line
                        h2.constructor__head Гамма                    
                    form.constructor__label.constructor__label--color
                        input.constructor__radio.constructor__radio--color#white-color(type="radio" name="color")
                        label.constructor__color.constructor__color--white(for="white-color") Белый цвет
                        input.constructor__radio.constructor__radio--color#green-color(type="radio" name="color")
                        label.constructor__color.constructor__color--green(for="green-color")  Зеленый цвет
                        input.constructor__radio.constructor__radio--color#blue-color(type="radio" name="color")
                        label.constructor__color.constructor__color--blue(for="blue-color") Голубой цвет
                        input.constructor__radio.constructor__radio--color#red-color(type="radio" name="color") 
                        label.constructor__color.constructor__color--red(for="red-color") Красный цвет
                        input.constructor__radio.constructor__radio--color#dark-color(type="radio" name="color")
                        label.constructor__color.constructor__color--gray-dark(for="dark-color") Темно-серый цвет
                    p.constructor__text +120 вариантов цветов и структур

                
            