.kitchen-form {
    font-size: 0;
    text-align: center;

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 60%;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
    }

    &__name {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: @font-size;
        text-align: center;
        background-color: @color-main;
        box-sizing: border-box;
        cursor: pointer;
    }    
}

.kitchen-setting {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    &__wrapper {
        position: relative;
        text-align: center;
    }

    &__block {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        background-image: url(../images/form/bg.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 300px auto;
    }

    &__wrapper--non-corn {

        .kitchen-setting__block {
            background-position: -375px 0;
        }
    }
}
