section.review
    .container
        .review__title.review__title--line
            h2 Отзывы 
                span.review__hidden наших заказчиков
        .review__row
            .review__wrapper#bee-3d                
                .review__item
                    .review__picture
                        img(src="images/review-picture-1.jpg" width="131" height="131")
                    blockquote.review__text Понравилось изобилие цветов и материалов, а также аккуратность работы установщика. В общем всей семьей радовались. 
                        address.review__author Олег Вишенский
                .review__item
                    .review__picture
                        img(src="images/review-picture-2.jpg" width="131" height="131")
                    blockquote.review__text Понравилось изобилие цветов и материалов, а также аккуратность работы установщика. В общем всей семьей радовались. 
                        address.review__author Оксана Николаевна
                .review__item
                    .review__picture
                        img(src="images/review-picture-1.jpg" width="131" height="131")
                    blockquote.review__text Понравилось изобилие цветов и материалов, а также аккуратность работы установщика. В общем всей семьей радовались. 
                        address.review__author Олег Вишенский
                .review__item
                    .review__picture
                        img(src="images/review-picture-2.jpg" width="131" height="131")
                    blockquote.review__text Понравилось изобилие цветов и материалов, а также аккуратность работы установщика. В общем всей семьей радовались. 
                        address.review__author Оксана Николаевна
                .review__item
                    .review__picture
                        img(src="images/review-picture-1.jpg" width="131" height="131")
                    blockquote.review__text Понравилось изобилие цветов и материалов, а также аккуратность работы установщика. В общем всей семьей радовались. 
                        address.review__author Олег Вишенский
                .review__button                
                    button.review__arrow.review__arrow--prev
                    button.review__arrow.review__arrow--next
        