section.complects
    .container
        .complects__row.flex-container
            .complects__item.complects__item--sink.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Кухонные мойки от
                span.complects__price 2550 
                    span.complects__valute руб.
            .complects__item.complects__item--table.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Столещницы от
                span.complects__price 3000 
                    span.complects__valute руб.
            .complects__item.complects__item--hood.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Вытяжки от
                span.complects__price 2850 
                    span.complects__valute руб.
            .complects__item.complects__item--cupboard.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Корзины выдвижные от
                span.complects__price 1500 
                    span.complects__valute руб.
            .complects__item.complects__item--handle.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Ручки от
                span.complects__price 1850 
                    span.complects__valute руб.
            .complects__item.complects__item--hob.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Варочные панели от
                span.complects__price 10500 
                    span.complects__valute руб.
            .complects__item.complects__item--oven.col-xs-12.col-md-6.col-lg-3
                p.complects__descr Духовые шкафы от
                span.complects__price 15800 
                    span.complects__valute руб.
            .complects__item.col-xs-12.col-md-6.col-lg-3
                p.complects__descr.complects__item--accessories Аксессуары от
                span.complects__price 250 
                    span.complects__valute руб.