section.complects
    .container
        .complects__title.complects__title--line
            h2 Варианты комплектации            
        .complects__row.flex-container
            .complects__item.complects__item--sink
                p.complects__descr 
                    |Кухонные мойки
                    br
                    | от
                span.complects__price 2550 
                    span.complects__valute руб.
            .complects__item.complects__item--table
                p.complects__descr 
                    |Столещницы 
                    br
                    |от
                span.complects__price 3000 
                    span.complects__valute руб.
            .complects__item.complects__item--hood
                p.complects__descr 
                    |Вытяжки 
                    br
                    |от
                span.complects__price 2850 
                    span.complects__valute руб.
            .complects__item.complects__item--cupboard
                p.complects__descr 
                    |Корзины выдвижные 
                    br
                    |от
                span.complects__price 1500 
                    span.complects__valute руб.
            .complects__item.complects__item--handle
                p.complects__descr 
                    |Ручки 
                    br
                    |от
                span.complects__price 1850 
                    span.complects__valute руб.
            .complects__item.complects__item--hob
                p.complects__descr 
                    |Варочные панели 
                    br
                    |от
                span.complects__price 10500 
                    span.complects__valute руб.
            .complects__item.complects__item--oven
                p.complects__descr 
                    |Духовые шкафы 
                    br
                    |от
                span.complects__price 15800 
                    span.complects__valute руб.
            .complects__item.complects__item--accessories
                p.complects__descr
                    |Аксессуары 
                    br
                    |от
                span.complects__price 250 
                    span.complects__valute руб.