section.order
    .container
        .order__title.order__title--line
            h2 Как заказать 
        .order__row.flex-container
            .order__item.col-xs-12.col-md-4.col-lg-4
                .order__picture
                    img(src="images/how-order-1.png" width="228" height="234")
                h3.order__head Проектируем
                p.order__descr Делаем замеры и создаем дизайн – проект, утверждаем с учетом ваших потребностей
                a.order__link#order-design(href="/") Заказать дизайн
            .order__item.col-xs-12.col-md-4.col-lg-4
                .order__picture
                    img(src="images/how-order-2.png" width="228" height="234")
                h3.order__head Производим
                p.order__descr Заключаем договор на поставку, вносим предоплату и начинаем производство
                a.order__link#order-design(href="/")  Подробнее
            .order__item.col-xs-12.col-md-4.col-lg-4
                .order__picture
                    img(src="images/how-order-3.png" width="228" height="234")
                h3.order__head Доставляем
                p.order__descr Отправляем укомплектованный заказ по вашему адресу либо до ближайшего пункта выдачи
                a.order__link#order-design(href="/") Пункт выдачи
        button.order__call.btn#callback Перезвонить?