.container() {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @screen-md) {
    width: 768px;
  }
  @media (min-width: @screen-xl) {
    width: 1150px;
  }
}
// ===========Для резины=============
.container-fluid() {
  width: auto;

  @media (min-width: @screen-md) {
    width: 94%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.container-fluid--big() {
  width: auto;

  @media (min-width: @screen-md) {
    width: 94%;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-static(@width) {
  width: @width;
  .center-block;
}

.clearfix() {
  &::after {
  content: "";
    
  display: table;
  clear: both;
  }
}

.btn-gradient() {
  border: 1px solid @color-main;
  background-color: @color-main;
  background-image: linear-gradient( 90deg, @color-main 0%, @color-main 100%);
  box-shadow: 3px 4px 5px 0px fade(@black, 30%),inset 0px 0px 3px 0px @gray-lighten;
  transition: all @transition-time ease-out;
  outline: none;
  &:hover,
  &:focus {
      color: @black;
      text-decoration: none;
      border-color: @black; 
  }
  &:active{
      transform: translate(2px, 2px);
      box-shadow: none;
  } 
}
// Примесь для шрифта

.font(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';  
  src: url('../fonts/@{urlName}.woff') format('woff'),url('../fonts/@{urlName}.woff2') format('woff2');    
    font-weight: @weight;
    font-style: @style;
}

.sprite-complects(@x: 0, @y: 0, @width: 0, @height: 0) {
    width: @width;
    height: @height;
    background-image: url('../images/sprite-complects.png');    
    background-repeat: no-repeat;
    background-position: @x @y;    
}
.sprite-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    width: @width;
    height: @height;
    background-image: url('../images/sprite-icon.png');    
    background-repeat: no-repeat;
    background-position: @x @y;    
}

.heading() {
    width: 100%;
    text-align: center;               
        &--line::after {
            content: "";
            position: relative;
            display: block;
            top: -40px;            
            width: 100%;
            height: 1px;
            background-color: @black;
            z-index: 1;            
        }
        h2 {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding-right: 22px;
            padding-left: 22px;
            font-size: @font-size--headings - 0.5;
            font-weight: @font-weight--bold;                
            text-transform: uppercase;
            background-color: @white;
            overflow: hidden;
            z-index: 2; 
        }
  @media(min-width: @screen-md) {
        &--line::after {
          top: -48px;
        }
        h2 {
          font-size: @font-size--headings;
        }
  }
}

// .sprite {
//     background-image: url(spritesheet.png);    background-repeat: no-repeat;
//     display: block;

//     &.sprite-arrow-constructor {
//         .stitches-sprite(-20px, -20px, 45px, 33px);
//     }

//     &.sprite-fb-icon {
//         .stitches-sprite(-20px, -93px, 53px, 54px);
//     }

//     &.sprite-icon-cart {
//         .stitches-sprite(-20px, -187px, 28px, 26px);
//     }

//     &.sprite-icon-phone {
//         .stitches-sprite(-20px, -253px, 34px, 37px);
//     }

//     &.sprite-instagram-icon {
//         .stitches-sprite(-20px, -330px, 53px, 54px);
//     }

//     &.sprite-lock {
//         .stitches-sprite(-20px, -424px, 14px, 18px);
//     }

//     &.sprite-lock-hover {
//         .stitches-sprite(-20px, -482px, 14px, 18px);
//     }

//     &.sprite-night {
//         .stitches-sprite(-20px, -540px, 16px, 20px);
//     }

//     &.sprite-night-hover {
//         .stitches-sprite(-20px, -600px, 16px, 20px);
//     }

//     &.sprite-slider-left {
//         .stitches-sprite(-20px, -660px, 33px, 46px);
//     }

//     &.sprite-slider-left-hover {
//         .stitches-sprite(-20px, -746px, 33px, 46px);
//     }

//     &.sprite-slider-right {
//         .stitches-sprite(-20px, -832px, 32px, 46px);
//     }

//     &.sprite-slider-right-hover {
//         .stitches-sprite(-20px, -918px, 32px, 46px);
//     }

//     &.sprite-sun {
//         .stitches-sprite(-20px, -1004px, 20px, 23px);
//     }

//     &.sprite-sun-hover {
//         .stitches-sprite(-20px, -1067px, 20px, 23px);
//     }

//     &.sprite-tab-arrow-down {
//         .stitches-sprite(-20px, -1130px, 45px, 33px);
//     }

//     &.sprite-tab-arrow-up {
//         .stitches-sprite(-20px, -1203px, 45px, 33px);
//     }

//     &.sprite-twitter-icon {
//         .stitches-sprite(-20px, -1276px, 53px, 53px);
//     }

//     &.sprite-vk-icon {
//         .stitches-sprite(-20px, -1369px, 54px, 55px);
//     }
// }
