.container() {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @screen-md) {
    width: 768px;
  }
  @media (min-width: @screen-xl) {
    width: 1150px;
  }
}
// ===========Для резины=============
.container-fluid() {
  width: auto;

  @media (min-width: @screen-md) {
    width: 94%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.container-fluid--big() {
  width: auto;

  @media (min-width: @screen-md) {
    width: 94%;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-static(@width) {
  width: @width;
  .center-block;
}

.clearfix() {
  &::after {
  content: "";
    
  display: table;
  clear: both;
  }
}

.btn-gradient() {
  border: 1px solid @color-main;
  background-color: @color-main;
  background-image: linear-gradient( 90deg, @color-main 0%, @color-main 100%);
  box-shadow: 3px 4px 5px 0px fade(@black, 30%),inset 0px 0px 3px 0px @gray-lighten; 
}
// Примесь для шрифта

.font(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';  
  src: url('../fonts/@{urlName}.woff') format('woff'),url('../fonts/@{urlName}.woff2') format('woff2');    
    font-weight: @weight;
    font-style: @style;
}

.sprite-complects(@x: 0, @y: 0, @width: 0, @height: 0) {
    width: @width;
    height: @height;
    background-image: url('../images/sprite-complects.png');    
    background-repeat: no-repeat;
    background-position: @x @y;    
}
.sprite-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    width: @width;
    height: @height;
    background-image: url('../images/sprite-icon.png');    
    background-repeat: no-repeat;
    background-position: @x @y;    
}

// .sprite {    

//     &-arrow-constructor {
//         .stitches-sprite(-20px, -20px, 45px, 33px);
//     }

//     &.sprite-fb-icon {
//         .stitches-sprite(-20px, -93px, 53px, 54px);
//     }

//     &.sprite-icon-phone {
//         .stitches-sprite(-20px, -187px, 34px, 37px);
//     }

//     &.sprite-instagram-icon {
//         .stitches-sprite(-20px, -264px, 53px, 54px);
//     }

//     &.sprite-lock {
//         .stitches-sprite(-20px, -358px, 14px, 18px);
//     }

//     &.sprite-lock-hover {
//         .stitches-sprite(-20px, -416px, 14px, 18px);
//     }

//     &.sprite-night {
//         .stitches-sprite(-20px, -474px, 16px, 20px);
//     }

//     &.sprite-night-hover {
//         .stitches-sprite(-20px, -534px, 16px, 20px);
//     }

//     &.sprite-slider-left {
//         .stitches-sprite(-20px, -594px, 33px, 46px);
//     }

//     &.sprite-slider-left-hover {
//         .stitches-sprite(-20px, -680px, 33px, 46px);
//     }

//     &.sprite-slider-right {
//         .stitches-sprite(-20px, -766px, 32px, 46px);
//     }

//     &.sprite-slider-right-hover {
//         .stitches-sprite(-20px, -852px, 32px, 46px);
//     }

//     &.sprite-sun {
//         .stitches-sprite(-20px, -938px, 20px, 23px);
//     }

//     &.sprite-sun-hover {
//         .stitches-sprite(-20px, -1001px, 20px, 23px);
//     }

//     &.sprite-tab-arrow-down {
//         .stitches-sprite(-20px, -1064px, 45px, 33px);
//     }

//     &.sprite-tab-arrow-up {
//         .stitches-sprite(-20px, -1137px, 45px, 33px);
//     }

//     &.sprite-twitter-icon {
//         .stitches-sprite(-20px, -1210px, 53px, 53px);
//     }

//     &.sprite-vk-icon {
//         .stitches-sprite(-20px, -1303px, 54px, 55px);
//     }
// }



