.contacts
    .container
        a.contacts__item.contacts__item--contacts(href="" title="Контакты") Контакты
        a.contacts__item.contacts__item--guarantee(href="" title="Гарантия") Гарантия
        a.contacts__item.contacts__item--deliver(href="" title="Доставка и оплата") Доставка и оплата
        a.contacts__item.contacts__item--build(href="" title="Сборка") Сборка
    