section.advantages
    .row.row--bg
        .container
            .advantages__wrapper.advantages__wrapper--full-width
                h2.advantages__title Почему лучше заказывать у нас?
                .advantages__row.flex-container
                    .advantages__item.advantages__item--first.col-xs-12.col-md-6.col-lg-4                
                        p.advantages__descr Автоматизированное производство – минимум влияния человека
                    .advantages__item.advantages__item--second.col-xs-12.col-md-6.col-lg-4                
                        p.advantages__descr Оптовые закупки, отсутствие посредников и перекупщиков
                    .advantages__item.advantages__item--third.col-xs-12.col-md-6.col-lg-4                
                        p.advantages__descr Нет расходов на торговые площади, продовцов и логистику
    .row.flex-container
        .advantages__wrapper.advantages__wrapper--half-width.advantages__wrapper--left
            .advantages__event.advantages__event--right
                h3.advantages__head Скидки 50% на все кухни!
                p.advantages__descr.advantages__descr--font-size Обновляем коллекцию и даем скидку 50% при заказе любой кухни из налиячия или на заказ
        .advantages__wrapper.advantages__wrapper--half-width.advantages__wrapper--right
            .advantages__event
                h3.advantages__head Гарантия самой низкой цены!
                p.advantages__descr.advantages__descr--font-size Представьте нам просчет вашей кухни и мы предложим лучшую цену!
                