doctype HTML
html
    head.no-js(language="ru")
        include _include/page-top/page-top
    body.page
        header.page-header.page-header--form
            include blocks/page-header/page-header
        main.page-main
            include blocks/count-price/count-price
        footer.page-footer
            include blocks/page-footer/page-footer
        include blocks/thankyou/thankyou
        include blocks/overlay/overlay
        include _include/page-bottom/page-bottom