doctype HTML
html
    head.no-js(language="ru")
        include _include/page-top/page-top
    body.page
        header.page-header
            include blocks/page-header/page-header
        include blocks/slider/slider
        main.page-main
            include blocks/page-main/page-main
        footer.page-footer
            include blocks/page-footer/page-footer
        include blocks/modal/modal
        include blocks/overlay/overlay
        include _include/page-bottom/page-bottom
