section.count-price
    .container
        h1.count-price__title Расчет стоимости кухни на заказ.
        form.count-price__form#order-form

            //- Материал фасадов
            fieldset.count-price__field
                legend.count-price__name Материал фасадов
                select.count-price__select#select-material(name="select-material")
                    option Выберите материал
                    option(value="ЛДСП") ЛДСП
                    option(value="МДФ") МДФ
                    option(value="Пластик") Пластик
            
            //- Выбор формы кухни
            fieldset.count-price__field.kitchen-form#kitchen-form
                legend.count-price__name Выберите форму кухни
                input(type="hidden" value="Прямая" name="kitchen-form-value")
                input.count-price__radio#kitchen-form-1(type="radio" name="kitchen-form" data-value="Прямая" data-setting="1" checked )
                label.kitchen-form__item(for="kitchen-form-1")
                    span.kitchen-form__name Прямая
                    img.kitchen-form__img(src="images/form/kitchenform/img-1.png")
                input.count-price__radio#kitchen-form-2(type="radio" name="kitchen-form" data-value="П-образная" data-setting="2")
                label.kitchen-form__item(for="kitchen-form-2")
                    span.kitchen-form__name П-образная
                    img.kitchen-form__img(src="images/form/kitchenform/img-2.png")
                input.count-price__radio#kitchen-form-3(type="radio" name="kitchen-form" data-value="Левая, угловая" data-setting="3")
                label.kitchen-form__item(for="kitchen-form-3")
                    span.kitchen-form__name Левая угловая
                    img.kitchen-form__img(src="images/form/kitchenform/img-3.png")
                input.count-price__radio#kitchen-form-4(type="radio" name="kitchen-form" data-value="Правая, угловая" data-setting="4")
                label.kitchen-form__item(for="kitchen-form-4")
                    span.kitchen-form__name Правая угловая
                    img.kitchen-form__img(src="images/form/kitchenform/img-4.png")
            
            //- Расположение плиты и мойки
            fieldset.count-price__field.kitchen-setting#kitchen-setting
                legend.count-price__name Укажите расположение мойки и плиты
                input(type="hidden" name="setting-sink")
                input(type="hidden" name="setting-stove")


                .kitchen-setting__wrapper.kitchen-setting__wrapper--show.kitchen-setting__wrapper--non-corn#setting-1

                    .kitchen-setting__block.kitchen-setting__block--sink
                        input.count-price__radio.count-price__radio--sink-1#kitchen-sink-1(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в углу слева")
                        label.kitchen-setting__item.kitchen-setting__item--left(for="kitchen-sink-1")
                            span.kitchen-setting__descr мойка в углу слева
                        input.count-price__radio.count-price__radio--sink-2#kitchen-sink-2(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру слева")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--center-left(for="kitchen-sink-2")
                            span.kitchen-setting__descr мойка по центру слева
                        input.count-price__radio.count-price__radio--sink-3#kitchen-sink-3(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру справа")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--center-right(for="kitchen-sink-3")
                            span.kitchen-setting__descr мойка по центру справа
                        input.count-price__radio.count-price__radio--sink-4#kitchen-sink-4(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в углу справа")
                        label.kitchen-setting__item.kitchen-setting__item--right(for="kitchen-sink-4")
                            span.kitchen-setting__descr мойка в углу справа


                    .kitchen-setting__block.kitchen-setting__block--stove


                        input.count-price__radio.count-price__radio--stove-1#kitchen-stove-1(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--left(for="kitchen-stove-1" )
                            span.kitchen-setting__descr плита в левом углу
                        input.count-price__radio.count-price__radio--stove-2#kitchen-stove-2(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита по центру")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--center(for="kitchen-stove-2" )
                            span.kitchen-setting__descr плита по центру
                        input.count-price__radio.count-price__radio--stove-3#kitchen-stove-3(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита в правом углу")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--right(for="kitchen-stove-3")
                            span.kitchen-setting__descr плита в правом углу


                .kitchen-setting__wrapper.kitchen-setting__wrapper--two-corn#setting-2

                    .kitchen-setting__block.kitchen-setting__block--sink
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-6(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в слева")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--left-bottom(for="setting-sink-6" )
                            span.kitchen-setting__descr мойка слева
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-5(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--left-center.kitchen-setting__item--left-corn(for="setting-sink-5" )
                            span.kitchen-setting__descr мойка в углу слева
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-1(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--left-corn(for="setting-sink-1" )
                            span.kitchen-setting__descr мойка в углу слева
                        input.count-price__radio.count-price__radio--sink-2#setting-sink-2(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру слева")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--center-left(for="setting-sink-2" )
                            span.kitchen-setting__descr мойка по центру слева
                        input.count-price__radio.count-price__radio--sink-3#setting-sink-3(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру справа")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--center-right(for="setting-sink-3" )
                            span.kitchen-setting__descr мойка по центру справа
                        input.count-price__radio.count-price__radio--sink-4#setting-sink-4(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в правом углу")
                        label.kitchen-setting__item.kitchen-setting__item--right-corn(for="setting-sink-4" )
                            span.kitchen-setting__descr мойка в углу справа
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-7(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в правом углу")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--right-center.kitchen-setting__item--right-corn(for="setting-sink-7" )
                            span.kitchen-setting__descr мойка в углу справа
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-8(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка справа")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--right-bottom(for="setting-sink-8" )
                            span.kitchen-setting__descr мойка справа

                    .kitchen-setting__block.kitchen-setting__block--stove
                        input.count-price__radio.count-price__radio--stove-1#kitchen-stove-4(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--bottom.kitchen-setting__item--left-bottom(for="kitchen-stove-4" )
                            span.kitchen-setting__descr плита слева
                        input.count-price__radio.count-price__radio--stove-2#kitchen-stove-5(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита по центру")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--center(for="kitchen-stove-5" )
                            span.kitchen-setting__descr плита по центру
                        input.count-price__radio.count-price__radio--stove-3#kitchen-stove-6(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита справа")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--bottom.kitchen-setting__item--right-bottom(for="kitchen-stove-6" )
                            span.kitchen-setting__descr плита справа


                .kitchen-setting__wrapper.kitchen-setting__wrapper--left-corn#setting-3

                    .kitchen-setting__block.kitchen-setting__block--sink
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-13(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в слева")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--left-bottom(for="setting-sink-13" )
                            span.kitchen-setting__descr мойка слева
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-12(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в левом углу") 
                        label.kitchen-setting__item.kitchen-setting__item--left-center.kitchen-setting__item--left-corn(for="setting-sink-12" )
                            span.kitchen-setting__descr мойка в углу слева
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-9(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--left-corn(for="setting-sink-9" )
                            span.kitchen-setting__descr мойка в углу слева
                        input.count-price__radio.count-price__radio--sink-2#setting-sink-10(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру слева")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--center-left(for="setting-sink-10" )
                            span.kitchen-setting__descr мойка по центру слева
                        input.count-price__radio.count-price__radio--sink-3#setting-sink-11(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру справа")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--center-right(for="setting-sink-11" )
                            span.kitchen-setting__descr мойка по центру справа                                                                       

                    .kitchen-setting__block.kitchen-setting__block--stove
                        input.count-price__radio.count-price__radio--stove-1#kitchen-stove-7(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--bottom.kitchen-setting__item--left-bottom(for="kitchen-stove-7" )
                            span.kitchen-setting__descr плита слева
                        input.count-price__radio.count-price__radio--stove-2#kitchen-stove-8(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита по центру") 
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--center(for="kitchen-stove-8" )
                            span.kitchen-setting__descr плита по центру
                        input.count-price__radio.count-price__radio--stove-3#kitchen-stove-9(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита в правом углу")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--right(for="kitchen-stove-9" )
                            span.kitchen-setting__descr плита в правом углу
                            

                .kitchen-setting__wrapper.kitchen-setting__wrapper--right-corn#setting-4

                    .kitchen-setting__block.kitchen-setting__block--sink                        
                        
                        input.count-price__radio.count-price__radio--sink-2#setting-sink-14(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру слева")
                        label.kitchen-setting__item.kitchen-setting__item--left.kitchen-setting__item--center-left(for="setting-sink-14" )
                            span.kitchen-setting__descr мойка по центру слева
                        input.count-price__radio.count-price__radio--sink-3#setting-sink-15(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка по центру справа")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--center-right(for="setting-sink-15" )
                            span.kitchen-setting__descr мойка по центру справа
                        input.count-price__radio.count-price__radio--sink-4#setting-sink-16(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в правом углу") 
                        label.kitchen-setting__item.kitchen-setting__item--right-corn(for="setting-sink-16" )
                            span.kitchen-setting__descr мойка в углу справа
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-17(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка в правом углу")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--right-center.kitchen-setting__item--right-corn(for="setting-sink-17" )
                            span.kitchen-setting__descr мойка в углу справа
                        input.count-price__radio.count-price__radio--sink-1#setting-sink-18(type="radio" name="kitchen-sink" data-setting="sink" data-value="Мойка справа")
                        label.kitchen-setting__item.kitchen-setting__item--right.kitchen-setting__item--right-bottom(for="setting-sink-18" )
                            span.kitchen-setting__descr мойка справа

                    .kitchen-setting__block.kitchen-setting__block--stove
                        input.count-price__radio.count-price__radio--stove-1#kitchen-stove-10(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита в левом углу")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--left(for="kitchen-stove-10" )
                            span.kitchen-setting__descr плита слева
                        input.count-price__radio.count-price__radio--stove-2#kitchen-stove-11(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита по центру")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--center(for="kitchen-stove-11" )
                            span.kitchen-setting__descr плита по центру
                        input.count-price__radio.count-price__radio--stove-3#kitchen-stove-12(type="radio" name="kitchen-stove" data-setting="stove" data-value="Плита справа")
                        label.kitchen-setting__item.kitchen-setting__item--stove.kitchen-setting__item--stove--bottom.kitchen-setting__item--right-bottom(for="kitchen-stove-12" )
                            span.kitchen-setting__descr плита справа

            fieldset.count-price__field.kitchen-size#kitchen-size
                input(type="hidden" name="back-wall-size" value="Не указан")
                input(type="hidden" name="left-wall-size" value="Не указан")
                input(type="hidden" name="right-wall-size" value="Не указан")
                legend.count-price__name Укажите размер стен                
                .kitchen-size__block.kitchen-size__block--show.kitchen-size__block--non-corn#size-1
                    label.kitchen-size__label.kitchen-size__label--top
                        input.kitchen-size__input(type="text" name="size-top" title="Введите число")
                        span mm
                    .kitchen-size__image
                        img(src="images/form/kitchenform/img-1.png")
                .kitchen-size__block.kitchen-size__block--two-corn#size-2                    
                    label.kitchen-size__label.kitchen-size__label--top
                        input.kitchen-size__input(type="text" name="size-top" title="Введите число")
                        span mm
                    label.kitchen-size__label.kitchen-size__label--left
                        span mm
                        input.kitchen-size__input(type="text" name="size-left" title="Введите число")
                    label.kitchen-size__label.kitchen-size__label--right
                        input.kitchen-size__input(type="text" name="size-right" title="Введите число")
                        span mm
                    .kitchen-size__image
                        img(src="images/form/kitchenform/img-2.png")
                .kitchen-size__block.kitchen-size__block--left-corn#size-3                       
                    label.kitchen-size__label.kitchen-size__label--top
                        input.kitchen-size__input(type="text" name="size-top" title="Введите число")
                        span mm
                    label.kitchen-size__label.kitchen-size__label--left
                        span mm
                        input.kitchen-size__input(type="text" name="size-left" title="Введите число")
                    .kitchen-size__image
                        img(src="images/form/kitchenform/img-3.png")
                .kitchen-size__block.kitchen-size__block--right-corn#size-4                        
                    label.kitchen-size__label.kitchen-size__label--top
                        input.kitchen-size__input(type="text" name="size-top" title="Введите число")
                        span mm
                    label.kitchen-size__label.kitchen-size__label--right
                        input.kitchen-size__input(type="text" name="size-right" title="Введите число")
                        span mm
                    .kitchen-size__image
                        img(src="images/form/kitchenform/img-4.png")
            
            //- Высота верхних полок
            fieldset.count-price__field.kithen-shelves#kitchen-shelves
                legend.count-price__name Высота верхних полок
                input(type="hidden" name="kitchen-shelves" value="720 мм")
                .kitchen-shelves__wrapper
                    input.kitchen-shelves__button#radio-1(type="radio" name="shelves" value="720 мм" checked)
                    label.kitchen-shelves__label(for="radio-1") 720 мм
                    input.kitchen-shelves__button#radio-2(type="radio" name="shelves" value="960 мм" )
                    label.kitchen-shelves__label(for="radio-2") 960 мм

            fieldset.count-price__field.form-info#info
                legend.count-price__name Информация о Вас
                .form-info__wrapper
                    label.form-info__label
                        span.form-info__name Ваше имя
                        input.form-info__input(type="text" name="name" placeholder="Введите ваше имя и фамилию" required)
                    label.form-info__label
                        span.form-info__name Город
                        input.form-info__input(type="text" name="city" placeholder="Введите название вашего города" required)
                    label.form-info__label
                        span.form-info__name Номер 
                            br 
                            | телефона
                        input.form-info__input#phone(type="tel" name="phone" placeholder="Введите номер телефона" required)
                        span.form-info__error-msg Первая цифра "9"
                    label.form-info__label
                        span.form-info__name Электронная 
                            br
                            | почта
                        input.form-info__input(type="email" name="email" placeholder="Введите ваш e-mail") 
                    label.form-info__label
                        span.form-info__name Пожелания
                        textarea.form-info__input.form-info__input--textarea(name="msg", cols="30", rows="10" placeholder="Ваше сообщение")
                .count-price__faq
                    p.count-price__text В течение рабочего дня наш менеджер свяжется с Вами и предложит Ваш индивидуальный проект с указанием стоимости и сроков изготовления. 
                        b И пришлёт ссылку для предоплаты заказа.
            
            
            
            button.count-price__submit.btn(type="submit") Отправить заявку
            
            

